/* Reset CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* From here, I would write my own code */

body{
    font-family: 'Open Sans', sans-serif;
	background-color:#000000;
}

a{
	text-decoration:none;
	color:#f5f0ed;
}

.all{
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
}

.firstrow{
    background-image: url(Images/Fondo1.jpg);
	min-width: 755px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	color:#f5f0ed;
}

.navbar{
	height:64px;
	width: 100%;
}

.logo{
	float: left;
	margin-top:24px;
	margin-left:24px;
}

.navigation li{
	float:right;
	padding:16px;
	margin-top:32px;
	font-weight: 600;
	font-size:14px;
	
}

.caption{
	font-size:44px;
	font-weight:800;
	max-height:150px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 64px;
	text-align:center;
}

.caption #caption1 #caption2 #caption3{
	display: inline-block;
}

.caption #caption3{
	font-weight:300;
}

.subcaption{
	height:auto;
	width:510px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	line-height: 1.5;
	padding-top:36px;
	padding-bottom:12px;
	font-size:12px;
}

.spacing{
	width:100%;
	height:100px;
}

.secondrow{
	width:100%;
	height:350px;
	
}

.promoheader{
	font-size:28px;
	padding-top:96px;
	font-weight: 700;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.promo1, .promo2{
	float:left;
	width:50%;
	height:350px;
	text-align: center;
}

.subpromo{
	font-size:12px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	line-height:1.5;
}

.subpromo strong{
	font-weight:bold;
}

.promo1{
	background-color: #d03b40;
	color:#ded6c0;
}

.promo2{
	background-color: #ded6c0;
	color:#d03b40;
}

.thirdrow{
    background-image: url(Images/Fondo2.jpg);
	min-width: 755px;
	background-repeat: no-repeat;
	background-size:cover;
	color:#f5f0ed;
}

.productbutton{
	display:block;
	margin-top:20px;
	padding:10px;
	width:268px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	border:1px solid #f5f0ed;
	
}

.fourthrow{
	width:100%;
	min-height:350px;
	background-color: #f5f0ed;
	padding-top:64px;
	padding-bottom:48px;
	
}

.productprofile{
	width:47%;
	height:175px;
	float:left;
	
	
}

.menulogo{
	width:33%;
	float:left;
	text-align: center;
}

.menulogo img{
	width:70%;
	height:auto;	
	
}

.menudescrip{
	width:67%;
	float:left;
	line-height:1.5;
	font-size:12px;
}

.menudescrip h3{
	font-weight:700;
	font-size:16px;
}

.sixthrow{
	background-color: #3c3c3b;
	color:#f5f0ed;
	width:100%;
	height:100px;
	padding-top:40px;
	position:relative;
}

.patent{
	position:absolute;
	top:50%;
	margin-left:16px;
}