/* Reset CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* From here, I would write my own code */

body{
    font-family: 'Open Sans', sans-serif;
}

.firstrow{
    background-image: url(Images/Fondo1.jpg);
	height:664px;
	background-repeat: no-repeat;
	background-size:100% auto;
	color:#f5f0ed;
	display:block;
}

.navbar{
	height:64px;
	width: 100%;
	
}

.logo{
	float: left;
	margin-top:24px;
	margin-left:24px;
}

.navigation li{
	float:right;
	padding:16px;
	margin-top:32px;
	font-weight: 600;
	font-size:12px;
}

.caption{
	font-size:44px;
	font-weight:800;
	max-height:150px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 64px;
	text-align:center;
}

.caption #caption1 #caption2 #caption3{
	display: inline-block;
}

.caption #caption3{
	font-weight:300;
}

.subcaption{
	height:auto;
	width:510px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	line-height: 1.5;
	padding-top:36px;
	padding-bottom:12px;
	font-size:16px;
	
}

.secondrow{
	width:50%;
}

.secondrow h2{
	font-size:24px;
}

.secondrow .promo1{
	display:inline-block;
	background-color: #d03b40;
	color:#ded6c0;
	height:120px;
}
.secondrow .promo2{
	display:inline-block;
	background-color: #ded6c0;
	color:#d03b40;
}