

/* My CSS style starts here */
*{
    box-sizing:border-box;
}

body{
    background-color:antiquewhite;
}

div{
    background-color: burlywood;
    margin:2%;
}

.first{
    height:80px;
}

.second{
    height:190px;
    
}

.rowblock{
    overflow: hidden;
    display:block;
    height:190px;
}
.couple{
    height:190px;
    width:49%;
    
    float:left;
}












