

/* My CSS style starts here */

body{
    background-color:antiquewhite;
}

.first{
    background-color: burlywood;
    height:60px;
    margin:2%;
    display:block;
}

.second{
    background-color: burlywood;
    height:120px;
    margin:2%;
    
}

.rowblock{
    height:120px;
      
}
.couple{
    background-color: burlywood;
    height:120px;
    width:47%;
    float:left;
    margin-left:2%;
}












